<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование звезды</title>
    <style>
        th,td{
            border: solid black;
        }
    </style>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1>Редактировать звезду</h1>

<form method="post">
    <label>Название звезды</label>
    <input th:value="${object.name}" class="form-control" type="text" name="name">
    <label>Класс звезды</label>
    <input th:value="${object.class_star}" class="form-control" type="text" name="class_star">
    <label>Яркость звезды</label>
    <input th:value="${object.lumen}" class="form-control" type="number" name="lumen">
    <input class="btn btn-success" type="submit" value="Добавить звезду">
</form>

<a class="btn btn-danger" href="/star/">Назад</a>

</body>
</html>